@page
@model IndexModel
@{
    ViewData["Title"] = "Telegram Membership Bot - Cryptopayments";
}

<div class="text-center">
    <h1 class="display-4">Telegram Membership Bot - Cryptopayments</h1>
    <p>Welcome to admin panel</p>
</div>
