@page
@model IndexModel
@{
    ViewData["Title"] = "Telegram Üyelik Botu - Cryptopayments";
}

<div class="text-center">
    <h1 class="display-4">Telegram Üyelik Botu - Cryptopayments</h1>
    <p>Yönetim paneline hoş geldiniz.</p>
</div>
